version: '3.7'

services:


  tempo:
    image: grafana/tempo:latest
    command: [ "-config.file=/etc/tempo.yaml" ]
    volumes:
      - ./tracing/tempo.yaml:/etc/tempo.yaml
      - tempo-data:/var/tempo
    ports:
      - "3200:3200"   # tempo

  grafana:
    image: grafana/grafana:12.3.0
    volumes:
      - ./tracing/grafana-datasources.yaml:/etc/grafana/provisioning/datasources/datasources.yaml
    environment:
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_DISABLE_LOGIN_FORM=true
      - GF_FEATURE_TOGGLES_ENABLE=traceqlEditor traceQLStreaming metricsSummary
    ports:
      - "3000:3000"

  otelcol:
      image: otel/opentelemetry-collector:latest
      volumes:
        - ./tracing/otelconfig.yaml:/etc/otelcol/config.yaml
      ports:
        - 4318:4318

  gateway:
    environment:
      - "MANAGEMENT_TRACING_ENABLED=TRUE"
      - "MANAGEMENT_TRACING_SAMPLING_PROBABILITY=1.0"
      - "MANAGEMENT_OTLP_TRACING_ENDPOINT=http://otelcol:4318/v1/traces"
      - "MANAGEMENT_OTLP_METRICS_EXPORT_ENABLED=FALSE"

volumes:
    tempo-data:

