<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="logging.level.reactor.netty.http.client" level="DEBUG"/>

    <logger name="org.springframework.security.web.server.DelegatingServerAuthenticationEntryPoint" level="INFO"/>
    <logger name="org.springframework.security.web.server.context.WebSessionServerSecurityContextRepository" level="INFO"/>

    <logger name="com.contentgrid.gateway.runtime" level="DEBUG"/>

    <logger name="org.testcontainers" level="INFO"/>
    <logger name="com.github.dockerjava" level="WARN"/>
    <logger name="com.github.dockerjava.zerodep.shaded.org.apache.hc.client5.http.wire" level="OFF"/>
</configuration>